/TipodeDatos/build/
/Actividades/dist/
/ArreglosconObjetos/dist/
/ArregloBidimensional/dist/
/ArregloUnidimensional/dist/
/CodigoGuia1/dist/
/CodigoGuia2/dist/
/CodigoGuia4/dist/
/CodigoGuia3/dist/
/Colas/dist/
/EjercicioCalificaciones/dist/
/EjercicioListas/dist/
/EjercicioColas/dist/
/EjercicioPilas/dist/
/Impuesto/dist/
/ImpuestoArreglos/dist/
/ImpuestoArreglosMetodos/dist/
/ImpuestoCiclos/dist/
/ImpuestoconMetodos/dist/
/Listas/dist/
/ImpuestoOO/dist/
/Pilas1/dist/
/Pilas2/dist/
/Piramide/dist/
/Problema1/dist/
/Problema2/dist/
/ProblemasAsesorias/dist/
/ProblemasAsesoriasCiclos/dist/
/ProblemasAsesoriasDoWhile/dist/
/ProblemasAsesoriasFor/dist/
/ProyectoBD/dist/
/ProyectoParcial2/dist/
/TipodeDatos/dist/
/TrianguloArregloUnidimensional/dist/
/Triangulo/dist/
/TrianguloMetodos/dist/
/TrianguloCiclos/dist/
/TrianguloMetodosArrelgos/dist/
/TriangulosArreglos/dist/
